.container {
    display: flex;
    margin-top: 65px;
}

.section-a {
    width: 15%;
    padding: 30px;
}

.section-b {
    width: 85%;
    display: flex;
    height: calc(100vh - 60px);
    overflow: scroll;
}

.section-b .articles {
    width: 70%;
}

.section-b .explore-articles {
    width: 30%;
}

.articles,
.explore-articles {
    padding: 20px;

}

.explore-articles .follow-list {
    position: sticky;
    top: 80px;
}