.section {
    /* border: 1px solid orange; */
    height: calc(100vh - 60px);
}

.section-2 {
    width: 40%;
}

.section-1,
.section-3 {
    width: 30%;
}

.test-font {
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    align-content: center;
}

.burger-icon {
    display: none;
}